.hero{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Code Pro';
    background: url('../../assets/background-home-desktop.jpg');
    background-size:cover;
    background-position: center;
    gap: 40px;
    color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;

}
.righthero{
    margin-right:auto;
    margin-right: 250px;
    font-size: 30px;
    width: 200px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    cursor: pointer;
}
.righthero:hover{
    width: 190px;
    height: 190px;
}
.lefthero h1{
    font-size: 80px;
    letter-spacing: 8px;
}
.lefthero p{
    line-height: 1.6;
}

/*Media query*/

@media screen and(max-width: 600px){
    .righthero{
        height: 120px;
        width: 150px;
        font-size: 25px;
        background: red;

    }
}
